<!-- answer list v1-->
<h3 class="my-3 border-bottom pb-2">Answer list : {{question.answer_set | length}} answers</h3>
    <div class="card my-3">
        <div class="card-body">
            {% for answer in question.answer_set %}
            <!-- anchor -->
            <a id="answer_{{answer.id}}"></a>
            <!-- apply a markdown func -->
            <div class="card-text">{{answer.content | safe}}</div>
            <!-- time : modify and create -->    
            <div class="d-flex justify-content-end">
                {% if answer.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div>{{answer.modify_date | datetime}}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{answer.user.username}}</div>
                    <div>{{answer.create_date | datetime}}</div>
                </div>
            </div>
            <!-- button : recommend, modify, delete -->
            <div class="my-3">
                <!-- recommend : open pop up window and count number badge -->
                <a href="javascript:void(0)" data-uri="{{url_for('answer.vote', answer_id=answer.id)}}"
                    class="recommend btn btn-sm btn-outline-secondary">recommend
                <span class="badge rounded-pill bg-success">{{answer.voter | length}}</span>
                </a>
                {% if g.user == answer.user %}
                <a href="{{url_for('answer.modify', answer_id=answer.id)}}"
                    class="btn btn-sm btn-outline-secondary">modify</a>
                <!-- delete : open pop up window -->    
                <a href="#" class="delete btn btn-sm btn-outline-secondary"
                    data-uri="{{url_for('answer.delete', answer_id=answer.id)}}">delete</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div> 