<!-- question detail page -->
{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <!-- flash error -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endfor %}
    <!-- question content -->
    <h3 class="my-3 border-bottom pb-2">Q : {{question.subject}}</h3>
    <div class="card my-3">
        <div class="card-body">
            <!-- apply a markdown func -->
            <div class="card-text">{{question.content | safe}}</div>
            <!-- time : modify and create -->
            <div class="d-flex justify-content-end">
                {% if question.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div>{{question.modify_date | datetime}}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{question.user.username}}</div>
                    <div>{{question.create_date | datetime}}</div>
                </div>
            </div>
            <!-- button : recommend, modify, delete -->
            <div class="my-3">
                <!-- recommend : open pop up window and count number badge -->
                <a href="javascript:void(0)" data-uri="{{url_for('question.vote', question_id=question.id)}}"
                  class="recommend btn btn-sm btn-outline-secondary">like
                  <span class="badge rounded-pill bg-success">{{question.voter | length}}</span>
                </a>
                {% if g.user == question.user %}
                <a href="{{url_for('question.modify', question_id=question.id)}}" 
                   class="btn btn-sm btn-outline-secondary">modify</a>
                <!-- delete : open pop up window -->   
                <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary" 
                   data-uri="{{url_for('question.delete', question_id=question.id)}}">delete</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- answer content create -->
    <h3 class="my-3 border-bottom pb-2">A : Insert your answer.</h3>
    <form action="{{url_for('answer.create', question_id=question.id)}}" method="post" class="my-3">
        <!-- csrf token -->
        {{answer_form.csrf_token}}
        <!-- form : errors -->
        {% if answer_form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in answer_form.errors.items() %}
            <strong>{{answer_form[field].label}}</strong>
            <ul>
                {% for error in errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}
        <div class="mb-3">
            <!-- if do not log, field is disabled -->
            <textarea 
            {% if not g.user %}
            disabled
            {% endif %}
            name="content" id="content" class="form-control" rows="10"></textarea>
        </div>    
        <button type="submit" class="btn btn-primary">send</button>
    </form>
    <!-- answer list content -->
    {% include 'answer/answer_list_v2.html'%}
</div>
{% endblock %}
<!-- javascript func for open pop up window -->
{% block script %}
<script type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete") ;
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("really delete?")) {
                location.href = this.dataset.uri ;
        };
    });
});
    const recommend_elements = document.getElementsByClassName("recommend") ; 
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("really recommend?")) {
                location.href=this.dataset.uri;
        };
    });
});
</script>
{% endblock %}