<!-- form : question content / link 'Insert Question' -->
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3 class="my-3 border-bottom pb-2">What is your Question?</h3>
    <form method="post" class="my-3">
        <!-- csrf token create -->
        {{form.csrf_token}}
        <!-- form : form errors -->
        {% include "form_errors.html"%}
        <!-- content : title and field -->
        <div class="mb-3">
            <label for="subject">title</label>
            <input type="text" class="form-control" name="subject" id="subject" value="{{form.subject.data or ''}}">
        </div>
        <!-- content : title and field -->
        <div class="mb-3">
            <label for="content">content</label>
            <textarea class="form-control" name="content" id="content" rows="10">{{form.content.data or ''}}</textarea>
        </div>
        <!-- button : send -->
        <button type="submit" class="btn btn-primary">send</button>
    </form>
</div> 
{% endblock %}


