<!-- question input template-->
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3 class="my-3 border-bottom pb-2">What is your Question?</h3>
    <form method="post" class="my-3">
        <!-- csrf token create -->
        {{form.csrf_token}}
        {% include "form_errors.html"%}
        <div class="mb-3">
            <label for="subject">title</label>
            <input type="text" class="form-control" name="subject" id="subject" value="{{form.subject.data or ''}}">
            <!-- <textarea class="form-control" name="subject" id="subject" rows="10"></textarea> -->
        </div>
        <div class="mb-3">
            <label for="content">content</label>
            <textarea class="form-control" name="content" id="content" rows="10">{{form.content.data or ''}}</textarea>
        
            <!-- < auto design using forms.py >
        
            {{form.subject.label}}
            {{form.subject(class="form-control")}}  

            {{form.content.label}}
            {{form.content(class="form-control")}}
            -->
        
        </div>
        <button type="submit" class="btn btn-primary">send</button>
    </form>
</div> 
{% endblock %}


