<!doctype html>
<html lang="english">
<head>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <!-- answer CSS -->
    <!--<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">-->
    <title>eom</title>
</head>
<body>

<!-- navbar start -->
{% include "navbar.html" %}
<!-- navbar end -->

<!-- inheritance start -->
{% block content %}
{% endblock %}
<!-- inheritance end -->

<!-- bootstrap JS start -->
<script src="{{url_for('static', filename='bootstrap.min.js')}}" type="text/javascript"></script>
<!-- bootstrap JS end -->

<!-- javascript start -->
{% block script %}
{% endblock %}
<!-- javascript end -->
</body>
</html>    