<!doctype html>
<html lang="english">
<head>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <title>eom</title>
</head>
<body>
<!-- navbar -->
{% include "navbar.html" %}

<!-- inheritance content -->
{% block content %}
{% endblock %}

<!-- bootstrap JS -->
<script src="{{url_for('static', filename='bootstrap.min.js')}}" type="text/javascript"></script>

<!-- inheritance javascript -->
{% block script %}
{% endblock %}
</body>
</html>    
