<!-- login page -->
{% extends "base.html"%}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">login</h5>
    <form method="post">
        <!-- csrf token -->
        {{form.csrf_token}}
        <!-- form : error -->
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="username">username</label>
            <input type="text" class="form-control" name="username" id="username" value="{{form.username.data or ''}}">
        </div>
        <div class="mb-3">
            <label for="password">password</label>
            <input type="password" class="form-control" name="password" id="password" value="{{form.password.data or ''}}">
        </div>
        <button type="submit" class="btn btn-primary">login</button>
    </form>
</div>
{% endblock %}